<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ExtensionWithExtensionConfigurationSection" type="Appccelerate.Bootstrapper.Configuration.ExtensionConfigurationSection, Appccelerate.Bootstrapper"/>
    <section name="ExtensionWithExtensionConfigurationSectionWithDictionary" type="Appccelerate.Bootstrapper.Configuration.ExtensionConfigurationSection, Appccelerate.Bootstrapper"/>
    <section name="ExtensionWithCustomConfigurationSection" type="Appccelerate.Bootstrapper.Sample.Complex.Configuration.CustomConfigurationSection, Appccelerate.Bootstrapper.Sample"/>
  </configSections>

  <ExtensionWithExtensionConfigurationSection>
    <Configuration>
      <add key="EndpointAddress" value="127.0.0.1"/>
      <add key="StartServer" value="true"/>
    </Configuration>
  </ExtensionWithExtensionConfigurationSection>

  <ExtensionWithExtensionConfigurationSectionWithDictionary>
    <Configuration>
      <add key="SerialPort" value="COM3"/>
      <add key="BaudRate" value="9600"/>
    </Configuration>
  </ExtensionWithExtensionConfigurationSectionWithDictionary>

  <ExtensionWithCustomConfigurationSection remoteOnly="true">
    <font name="TimesNewRoman" size="18"/>
    <color background="000000" foreground="FFFFFF"/>
  </ExtensionWithCustomConfigurationSection>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
