<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.0" />
  <package id="PowerThreading" version="20120420.0" />
  <package id="Rhino.PersistentHashTable" version="1.7.0.0" />
  <package id="Rhino.Queues" version="1.4.2.0" />
  <package id="Rhino.ServiceBus" version="2.3.4.0" targetFramework="net40" />
  <package id="Rhino.ServiceBus.References" version="2.3.4.0" targetFramework="net40" />
</packages>